{% extends "layouts/auth.html" %}
{% block content %}

<div class="auth-container auth-container-centered">
  <div class="auth-card-wrapper">

    <div class="auth-card">
      <h5 class="text-center mb-3">Nova senha</h5>

      <form method="post">
        <input type="password"
               name="password"
               class="form-control mb-2"
               placeholder="Nova senha"
               required>

        <input type="password"
               name="confirm_password"
               class="form-control mb-3"
               placeholder="Confirmar senha"
               required>

        <button class="btn btn-success w-100">
          Redefinir senha
        </button>
      </form>
    </div>

  </div>
</div>

{% endblock %}
