{% extends "layouts/auth.html" %}
{% block title %}Entrar{% endblock %}
{% block content %}
<section class="mobile-screen login-form"
  style="background-image:url('{{ url_for('static', filename='images/banners/bg-log-pass.webp') }}')">

  <form method="post"
        action="{{ url_for('auth.login_local') }}"
        class="mobile-form">

    <!-- USUÁRIO -->
    <div class="input-group mb-3 auth-input">
      <span class="input-group-text">
        <i class="bi bi-person"></i>
      </span>
      <input name="username" class="form-control" placeholder="Usuário" required>
    </div>

    <!-- SENHA -->
    <div class="input-group mb-3 auth-input">
      <span class="input-group-text">
        <i class="bi bi-lock"></i>
      </span>
      <input type="password" name="password" class="form-control" placeholder="Senha" required>
    </div>

    <button class="btn btn-primary w-100 mb-3">
      Entrar
    </button>

    <div class="text-center mb-3">
      <a href="{{ url_for('auth.forgot_password') }}"
         class="btn btn-link p-0">
        Esqueci minha senha
      </a>
    </div>

    <a href="{{ url_for('auth.login_google') }}"
       class="btn btn-outline-danger w-100 mb-2">
      <i class="bi bi-google me-2"></i>
      Logar com Google
    </a>

    <a href="{{ url_for('auth.login_github') }}"
       class="btn btn-outline-dark w-100">
      <i class="bi bi-github me-2"></i>
      Logar com GitHub
    </a>

  </form>
</section>
{% endblock %}
