{% extends "base.html" %}
{% block title %}Dashboard — Sistema de Metas{% endblock %}
{% block page_title %}SMT Production Manager - Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row g-3">
  {% for linha in dados %}
  <div class="col-12 col-md-4">
    <div class="card-modelo">
      <div class="codigo">{{ linha.nome }}</div>
      <div class="linha">
        <strong>HC:</strong> {{ linha.hc_real }} / {{ linha.hc_planejado }}
      </div>
      <div class="linha">
        <strong>Absenteísmo:</strong> {{ linha.absenteismo }}%
      </div>
    </div>
  </div>
  {% endfor %}
</div>

    </div>

{% endblock %}
